name: Build

on:
  workflow_dispatch:  # manual trigger only

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest, windows-latest, macos-latest]
        os: [windows-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install SCons
      run: pip install scons

    - name: Install Boost (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libboost-dev

    - name: Install Boost (macOS)
      if: runner.os == 'macOS'
      run: brew install boost

    - name: Install Boost (Windows)
      if: runner.os == 'Windows'
      run: vcpkg install boost-circular-buffer:x64-windows

    - name: Build with SCons
      run: |
          scons target=template_debug
          scons target=template_release

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: template-binaries-${{ matrix.os }}
        path: |
          project/bin/*.so
          project/bin/*.dll
          project/bin/*.dylib
